/* Settings button */
.button {
    background: rgb(74, 96, 124);
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background: rgb(164, 204, 214);
  }
  