.points-container {
    background-color: #ffffff;
    color: #0a0a0a;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
  }

  .points-value {
    font-size: 32px;
    margin-top: 5px;
  }
  