#score {
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(220, 230, 238);
  border-radius: 10px;
  font-size: 36px;
  font-family: 'Arial', sans-serif;
  width: 125px;
  height: 120px;
  padding: 10px;
  margin: 30px auto 0;
  text-align: center;
  color: #000000;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

#score:hover {
  transform: scale(1.05);
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

