#score {
  background-color: rgba(215, 44, 44, 0.8);;
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width:200px;
  height: 100px;
  padding: 20px;
  padding-top: 0;
  margin: 30px auto 0;
  text-align: center;
}
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}