.timer {
  font-size: 36px;
  text-align: center;
  padding: 20px;
  background-color: #000;
  border: 2px solid #00ff00; /* Color verde neón */
  border-radius: 10px;
  margin-top: 20px;
  color: #00ff00; /* Color verde neón */
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Sombra verde neón */
  width: 200px;
}

.timer::before {
  content: '\25B6'; /* Símbolo de reproducción triangular */
  font-size: 24px;
  color: #00ff00; /* Color verde neón */
  margin-right: 5px;
  animation: blink 2s infinite; /* Animación de parpadeo */
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
