.timer {
  font-size: 16px;
  text-align: center;
  padding: 10px;
  background: rgb(55, 72, 107);
  border: 2px solid rgba(53, 201, 238, 0.7);
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  box-shadow: 0 0 10px rgba(53, 201, 238, 0.7); 
  width: 150px;
}

.timer::before {
  content: '\25B6'; 
  font-size: 20px;
  color: white;
  margin-right: 5px;
  animation: blink 2s infinite; 
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
