.card {
  margin: 2px;
  width: 90px;
  height: 100px;
  cursor: pointer;
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 0.5s ease-out 0.3s forwards; 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-inner {
  width: 93%;
  height: 93%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  border: 2px solid rgba(255, 255, 255, 2); 
  border-radius: 5px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 5px;
}

.card-front {
  background: linear-gradient(135deg, #456783, #76a6c7, #456783);
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transform: perspective(1000px) rotateY(10deg); 
}

.card-back {
  background-color: #456783;
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
}
