.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#memory_board {
  background:#dddddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 70px;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
}
