.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.board-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background:#dddddd;
  border-radius: 42px;
  box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
  padding: 2rem;
  gap: 2rem;
}

.board-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#memory_board {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 10px;
}
